@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(/src/images/pexels-dan-prado-428105.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(5px);
}
/* Add this CSS to your stylesheet */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar */
  border-radius: 4px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change color on hover */
}

.active {
  background-color: #030712c1;
  color: white;
}
/* Adjust the height of the container */
.table-container {
  height: calc(100vh - 64px); /* Adjust as needed based on your layout */
}
